td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #E8E8E8;
}

tr:nth-child(odd) {
  background-color: #F3F3F3;
}

table {
  border: 0px solid #CDCDCD;
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0px 0px 5px #CDCDCD;
  font-family: 'Quicksand', cursive;
  font-weight: 500;
  font-size:0.75rem;
}

/* .tdborder {
  border-right: 1px solid #CDCDCD;
  border-left: 1px #CDCDCD;
} */

h5 {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
}

.flag {
  top: 38%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

button {
  font-size:0.5rem;
}


